<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="views"></ion-back-button>
    </ion-buttons>
    <ion-title>Gender Predictor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Enter a Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="predictAge()">Predict Age</ion-button>

  <div *ngIf="age">
    <h2>{{ name | titlecase }} tiene {{ age }} años</h2>
    <h3>{{ ageGroup }}</h3>
    <img [src]="imageUrl" alt="age image" width="200px">
  </div>



</ion-content>
