<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <ion-card-title>Saber que sexo es tiene su nombre</ion-card-title>
    <img src="https://static.vecteezy.com/system/resources/previews/014/411/041/non_2x/yellow-hand-drill-icon-cartoon-style-vector.jpg" alt="">
    <ion-item>
      <a href="http://localhost:8100/sex-name"> Empezar app</a>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-title>Que tan viejo es su nombre</ion-card-title>
    <img src="https://previews.123rf.com/images/rudall30/rudall301601/rudall30160100059/50794256-ilustraci%C3%B3n-gr%C3%A1fica-de-un-alicate.jpg" alt="">
    <ion-item>
      <a href="http://localhost:8100/age-name"> Empezar app</a>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-card-title>Cuales son las univeridades de tu pais</ion-card-title>
    <img src="https://media.gettyimages.com/id/184933463/es/foto/nivel-de-burbuja.jpg?s=612x612&w=gi&k=20&c=MUJqui6JFsOv-7KBM89LkCp-kfOlNjaBxnUXBTRBSr8=" alt="">
    <ion-item>
      <a href="http://localhost:8100/university"> Empezar app</a>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-card-title>EL clima de hoy</ion-card-title>
    <img src="https://previews.123rf.com/images/perysty/perysty1311/perysty131100017/24058569-dibujado-a-mano-ilustraci%C3%B3n-de-dibujos-animados-de-mult%C3%ADmetro.jpg" alt="">
    <ion-item>
      <a href="http://localhost:8100/clima"> Empezar app</a>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-card-title>Pagina de WordPress</ion-card-title>
    <img src="https://i.pinimg.com/736x/4d/7f/82/4d7f82d1ce4e672c2449aca07fe9dfd6.jpg" alt="">
    <ion-item>
      <a href="http://localhost:8100/word-press"> Empezar app</a>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-card-title>Mi Info</ion-card-title>
    <img src="https://img.freepik.com/vector-gratis/diseno-etiqueta-martillo-garra-aislado_1308-61820.jpg" alt="">
    <ion-item>
      <a href="http://localhost:8100/info"> Empezar app</a>
    </ion-item>
  </ion-card>


  <ion-item color="danger">
    <a href="http://localhost:8100/home" class="volver"> Volver</a>
   </ion-item>
</ion-content>






